<div class="well bs-component">
  <%= bootstrap_form_for([post, comment], html: { class: 'form-horizontal' }) do |f| %>

    <div class="field">
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.text_area :body, required: true %>
    </div>
    <div class="actions">
      <%= f.submit "Add Comment", class: "btn btn-success"%>
    </div>
  <% end %>
</div>
