<div class="bs-component">
  <div class="jumbotron">
    <h1>Messenger</h1>
    <p>
      A messaging board where users can post and comment on posts.
    </p>
    <% if !user_signed_in? %>
      <p>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">
          Log in
        </button>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup-modal">
          Sign up
        </button>
      </p>
    <% end %>
  </div>
</div>

<%= render "users/shared/login_modal" %>

<%= render "users/shared/sign_up_modal" %>
