<div class="bs-component">
  <div class="jumbotron">
    <h1>Messenger</h1>
    <p>
      A messaging board where users can post and comment on posts.
    </p>
    <% if !user_signed_in? %>
      <p>
      <%= link_to 'Log in', new_user_session_path, :class => 'btn btn-primary btn-lg' %>
      <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
      </p>
    <% end %>
  </div>
</div>
