<h1>Posts</h1>

<div class="pagination-section">
  <%= paginate @posts %>
</div>

<div class="post-btn-container">
  <button class="btn btn-primary" data-toggle="modal" data-target="#post-modal">
    New Post
  </button>
</div>

<div class="container">
  <div class="">
    <%= render @posts %>
  </div>
</div>

<div class="pagination-section">
  <%= paginate @posts %>
</div>
<br>

<%= render partial: '/posts/form', locals: { post: @posts.build, action_name: 'New', cta: 'Add Post' } %>
