<h1>Posts</h1>

<div class="pagination-section">
  <%= paginate @posts %>
</div>

<%= link_to 'New Post', new_post_path, :class => 'btn btn-primary'%>

<div class="container">
  <div class="">
    <%= render @posts %>
  </div>
</div>

<div class="pagination-section">
  <%= paginate @posts %>
</div>
<br>
