html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.pagination-section {
  text-align: center;
}

.jumbotron {
  text-align: center;
  p {
    font-size: 14px;
  }
}

h1 {
  text-align: center;
}

.post-btn-container {
  margin: 0 16px;
}

.comments-section {
  padding-top: 20px;

  .btn-primary {
    margin: 10px 0;
  }
}
